@model IEnumerable<DeskEntity.Model.Employee>;

<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    <div class="container">
        <center><h3>All Employee </h3></center>

        <div class="row">
            <div class="col-12 text-white">

                <hr />
                <table class="table  table-bordered table-hover">
                    <thead>
                        <tr style="color:white">
                            <th>Employee Id</th>
                            <th>Employee Name</th>
                            <th>Employee Email</th>
                            <th>Employee Password</th>
                            <th>Employee Designation</th>
                            <th>Employee Speciality</th>
                            <th>Employee Phone</th>
                            <th>Employee Gender</th>

                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Employee in Model) @*mvc controller name is asp controller and its function name is asp-action and asp-route-moveid (is used in url means ) we need pass the same argument in  editEmployee of Employeecontroller (route name) here which is EmployeeId
                        which can be written as http://localhost:32344/Employees/edit Employee?Employeeid=2//
                        *@
                        {
                            @* string imageBase64Data = Convert.ToBase64String(Employee.ImgPoster);
                        string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);*@
                            <tr style="color:white">

                                <td>@Employee.EmployeeID</td>
                                <td>@Employee.EmployeeName</td>
                                <td>@Employee.Role</td>
                                <td>@Employee.PhoneNumber</td>
                         
                                @*  <td><img height="50" width="50" src="@imageDataURL" /></td>*@

                                <td>
                                    <a asp-controller="Employee" asp-action="EditEmployee"
                                   asp-route-EmployeeId="@Employee.EmployeeID"><img class="img-fluid" style="height:40px" src="https://www.svgrepo.com/show/241804/edit.svg" /></a>
                                </td>

                                <td>
                                    <a asp-controller="Employee" asp-action="DeleteEmployee" onclick="deleteFunction()"
                                   asp-route-EmployeeId="@Employee.EmployeeID"><img class="img-fluid" style="height:50px" src="https://www.svgrepo.com/show/243864/delete.svg" /></a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



