@model IEnumerable<DeskEntity.Model.ReservedRoom>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <hr />
    <a asp-controller="ReservedRoom" asp-action="AddReservedRooms"> Add ReservedRoom</a>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <h3>ReservedRoom</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>RoomId</th>
                    <th>Room</th>
                    <th>ReservedRoomId</th>
                    <th>BookingRoomId</th>
                    <th>BookingRoom</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var ReservedRooms in Model)
                {
                    <tr>
                        <td>@ReservedRooms.RoomId</td>
                        <td>@ReservedRooms.Room</td>
                        <td>@ReservedRooms.ReservedRoomId</td>
                        <td>@ReservedRooms.BookingRoomId</td>
                        <td>@ReservedRooms.BookingRoom</td>



                        <td>
                            <a asp-controller="ReservedRoom" asp-action="EditReservedRoom" asp-route-Room="@ReservedRooms.ReservedRoomId">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="ReservedRoom" asp-action="DeleteReservedRooms" asp-route-Room="@ReservedRooms.ReservedRoomId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


