@model IEnumerable<DeskEntity.Model.BookingSeat>

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>AllSeats</h1>

<div>
    <a asp-controller="BookingSeat" asp-action="AllSeats">Index</a>

</div>


<div class="row">
    <div class="col-12 ">
        <h3>Seats</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>BookingSeatID</th>
                    @*<th>Seat Status</th>*@
                    <th>FromDate</th>
                    <th>ToDate</th>
                    
                    <th>ShiftTime</th>
                    <th>SeatId</th>
                    <th>EmployeeId</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var seat in Model)
                {
                    <tr>

                        <td>@seat.BookingSeatId</td>
                        @*<td>@seat.SeatStatus</td>*@
                        <td>@seat.FromDate.ToShortDateString()</td>
                        <td>@seat.ToDate.ToShortDateString()</td>
                        
                        <td>@seat.SeatShiftTime</td>
                        <td>@seat.SeatId</td>
                        <td>@seat.EmployeeID</td>
                        
                        <td><a asp-controller="Employee" asp-action="UpdateBooking" asp-route-BookSeatId=@seat.BookingSeatId>Edit</a></td>
                        <td><a asp-controller="Employee" asp-action="CancelBooking" asp-route-BookSeatId=@seat.BookingSeatId>Delete</a></td>
                    </tr>
                }
        </table>
    </div>

</div>