@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@model DeskEntity.Model.BookingSeat


<div>
    <a asp-controller="Booking" asp-action="Index">Booking</a>

</div>

<form method="post" enctype="multipart/form-data">



 

    @*<div class="form-group">
    <label>ShiftStart</label>
    <input type="date" asp-for="ShiftStart" class="form-control"
    placeholder="enter seat" required />
    </div>


    <div class="form-group">
    <label>ShiftEnd</label>
    <input type="date" asp-for="ShiftEnd" class="form-control"
    placeholder="enter seat" required />
    </div>*@
   

    <div class="form-group">
        <label>Floor</label>
        <select asp-for="SeatId" class="form-control" asp-items="@ViewBag.seatlist" required></select>
    </div>

    @*<div class="form-group">
    <label>Seat Id</label>
    <input type="text" asp-for="@Model.SeatId" class="form-control"
    placeholder="enter seat" required />
    </div>

    <div class="form-group">
    <label>Employee Id</label>
    <input type="text" asp-for="@Model.EmployeeID" class="form-control"
    placeholder="enter seat" required />
    </div>*@

    <div class="col-12 mt-5" style="margin-left:510px">
        <button type="reset" class="btn btn-outline-secondary float-end me-2">Reset</button>
        <button type="submit" class="btn btn-primary float-end">Select Floors</button>
    </div>


    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.Status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message;
        </div>
    }

    else if (ViewBag.Status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message;
        </div>
    }
</form>
