@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}



@model IEnumerable<DeskEntity.Model.Seat>

@*<body>

    <div class="container">

        <center>

            <h2 class="text-light text-center">Select Your Seat</h2>

            <div class=" row">

                @{

                    int c = 0;
                    @foreach (var item in Model)

                    {



                        @if (item.Status == false)

                        {

                            <div class="col-2">





                                <div>

                                    <a asp-controller="Employee" asp-action="GetSeatsByFloorId" asp-route-SeatId="@item.SeatId" class="btn">

                                        Seat Num:@item.SeatNumber
                                        <svg width="40" height="50">

                                            <rect x="5" y="5" rx="5" ry="5" width="30" height="30"
                                            style="fill:green;stroke:black;stroke-width:5;opacity:0.5" />
                                        </svg>
                                    </a>

                                    @if (c == 12)

                                    {

                                        c = 0;

                                        <div class="row">

                                            <div class="col-1">

                                                <svg width="400" height="50">

                                                    <rect x="5" y="5" rx="5" ry="5" width="400" height="30"
                                                    style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" />
                                                </svg>

                                            </div>

                                        </div>

                                    }



                                </div>


                            </div>

                        }
                        else



                        {


                            <div>

                                Seat Num:@item.SeatNumber<svg width="40" height="50">

                                    <rect x="5" y="5" rx="5" ry="5" width="30" height="30"
                                          style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />


                                </svg>

                            </div>

                        }


                    }

                }

            </div>

            <div>

                <br />

            </div>
        </center>
    </div>
</body>
*@


<html>
<body style="background:-webkit-linear-gradient(left, #fff, #000)">
    <section class="vh-70 gradient-custom">
        <div class="container-fluid py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <span class="mb-4 pb-2 pb-md-0 mb-md-5 ">
                                <h3 style="margin-bottom:20px">
                                    Seat Booking
                                    @foreach(var item1 in Model)
                                    {
                                        <div style="width:300px;border-radius:20px;background-color:silver;margin-left:415px;font-size:20px;padding:6px" class="d-inline">@item1.Floor.FloorName</div>
                                        break;
                                    }
                                </h3>
                            </span>
                            <div class="row row-cols-md-12 row-cols-sm-4 row-cols-4">
                                @{
                                    int c = 0;
                                    @foreach (var item in Model)
                                    {
                                        @if (item.Status == false)
                                        {
                                            <div class="col-1 col-sm-1 col-md-1  p-2 mb-3">
                                                <div>
                                                    <a onclick="myfunction()" asp-controller="Employee" asp-action="GetSeatsByFloorId" asp-route-SeatId="@item.SeatId" style="text-decoration:none;color:black">
                                                        
                                                    <img src="~/img/seat-green.svg" style="height:50px;width:50px"></img>
                                                        <center >@item.SeatNumber</center>
                                                    </a>
                                                    @if (c == 12)
                                                    {
                                                        c = 0;
                                                        <div class="row">                                                        
                                                            <div class="col-1">
                                                                <svg width="400" height="50">
                                                                    <rect x="5" y="5" rx="5" ry="5" width="400" height="30"
                                                                          style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-1 col-sm-1 col-md-1 p-2">
                                                <a style="pointer-events:none;text-decoration:none">
                                                        <img src="~/img/seat-red.svg" style="height:50px;width:50px"></img>
                                                        <center>@item.SeatNumber</center>
                                                    </a>
                                                </div>
                                        }
                                    }
                                }
                            </div>
                            <div class="row text-center">
                                <div class="card col-2 offset-10 p-2 shadow-lg">
                                    <img src="~/img/seat-green.svg" style="height:40px;width:40px" class="mx-auto"></img>
                                    <span class="font-weight-bold mb-3">Vacant</span>
                                    <img src="~/img/seat-red.svg" style="height:40px;width:40px" class="mx-auto"></img>
                                    <span class="font-weight-bold">Occupied</span>
                               </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
         </div>
</section>
    <script>
        function myfunction() {
            alert("Are you sure you want to book this seat?");
        }
    </script>
</body>
</html>