@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@model DeskEntity.Model.Employee
<head>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #050D0F;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right bottom, #ffffff, #050D0F);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(left, #050D0F, #ffffff);
        }

    </style>
</head>
<body>
    <section style="margin-top:70px">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0 ">
                            <div class="col-md-4 gradient-custom text-center text-black"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                @if(Model.Image==null)
                                {
                                    <img src="https://www.svgrepo.com/show/57853/avatar.svg" alt="Avatar" class="img-fluid my-5" style="width:120px;" />
                                }
                                else
                                {
                                    string imageBase64Data = Convert.ToBase64String(Model.Image);
                                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                                    <img src="@imageDataURL" alt="Avatar" class="img-fluid my-5" style="width:120px;height:120px;border-radius:50%" />
                                }
                                <h5 class="text-white">@Model.EmployeeName</h5>
                                <a asp-controller="Employee" asp-action="EditEmployee" asp-route-employeeId="@Model.EmployeeID"><i class="far fa-edit mb-5" style="color:#ADD8E6"></i></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>User Info</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                        <h6>Email ID</h6>
                                        <p class="text-muted">@Model.LoginTable.Email</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone Number</h6>
                                        <p class="text-muted">@Model.PhoneNumber</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Employee ID</h6>
                                        <p class="text-muted">@Model.EmployeeNumber</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                         <h6>Gender</h6>
                                         <p class="text-muted">@Model.Gender</p>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Role</h6>
                                        <p class="text-muted">@Model.Role</p>
                                </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
